body {
    margin: 0;

}

#screen {
    position: relative;
    background-size: 100%;
    width: 56.25vw;
    height: 100vw;
    margin: 0 auto;
}

/*Startskærm*/
#logo {
    background-image: url(grafik/logo_new.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    height: 40vw;
    width: 46.7vw;
    top: 23vw;
    left: 5vw;
}

#start {
    background-image: url(grafik/start_toggle.svg);
    background-size: 600% 100%;
    height: 30vw;
    width: 50vw;
    top: 64vw;
    left: 3vw;
    position: absolute;
    cursor: pointer;
}

#mobilbaggrund {
    background-image: url(grafik/Iphone%20startsk%C3%A6rm.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#setting_effekt_sound {
    position: absolute;
    background-size: 100%;
}

#sfx {
    width: 8vw;
    height: 8vw;
    position: absolute;
    left: 45vw;
    top: 14vw;
}

.on {
    background-image: url(grafik/soundon.svg);
    background-size: 100%;
    cursor: pointer;
}

.off {
    background-image: url(grafik/soundoff.svg);
    background-size: 100%;
    cursor: pointer;
}

/*Snapchat*/

#snapnoti {
    background-image: url(grafik/snapnoti.svg);
    background-size: 100%;
    position: absolute;
    height: 11vw;
    width: 46.7vw;
    top: 23.8vw;
    left: 5vw;
    cursor: pointer;
}


#snapchat {
    background-image: url(grafik/snapchat.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#snapchatload {
    background-image: url(grafik/snapchatload.svg);
    background-size: 100%;
    position: absolute;
    top: 13.3vw;
    left: 1.9vw;
    width: 52.5vw;
    height: 100vw;
    background-repeat: no-repeat;
}

#snapjoachim {
    background-image: url(grafik/joachimsnap.svg);
    background-size: 100%;
    position: absolute;
    height: 8vw;
    width: 46.7vw;
    top: 23.8vw;
    left: 5vw;
    cursor: pointer;
}

#snapsofie {
    background-size: 100%;
    position: absolute;
    height: 13vw;
    width: 52vw;
    top: 23.8vw;
    left: 2vw;
    top: 35vw;
}


#tissemand {
    background-image: url(grafik/tissemand.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 10.6vw;
    left: 1.3vw;
    width: 53.5vw;
    height: 100vw;
    background-repeat: no-repeat;

}

/*Messenger og Imessage*/




#messengersofie {
    background-image: url(grafik/messengersofie.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#svarsofie {
    background-image: url(grafik/svarsofie.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 7.1vw;
    top: 35vw;
    left: 21vw;
}

#beskederhanna {
    background-image: url(grafik/beskederhanna2.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#svarhanna {
    background-image: url(grafik/ja_besked.svg);
    background-size: 100%;
    position: absolute;
    width: 29vw;
    height: 4.3vw;
    top: 40vw;
    left: 24vw;

}

#fatima {
    background-image: url(grafik/ekstranyfatima.svg);
    background-size: 500% 100%;
    width: 52vw;
    position: absolute;
    height: 80vw;
    animation-name: fatima_kf;
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
    top: 11.9vw;
    left: 2vw;
}

@keyframes fatima_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -500% 0%;
    }
}



/*Valgmuligheder*/

#screenshot {
    background-image: url(grafik/screenshot.svg);
    background-size: 100%;
    position: absolute;
    height: 16.2vw;
    width: 23vw;
    background-repeat: no-repeat;
    top: 73vw;
    left: 3vw;
    cursor: pointer;
}

#luksnapchat {
    background-image: url(grafik/luksnapchat.svg);
    background-size: 100%;
    position: absolute;
    height: 16.2vw;
    width: 23vw;
    background-repeat: no-repeat;
    top: 73vw;
    left: 30vw;
    cursor: pointer;
}

#sendbillede {
    background-image: url(grafik/sendbillede.svg);
    background-size: 100%;
    position: absolute;
    height: 30vw;
    width: 23vw;
    background-repeat: no-repeat;
    top: 65vw;
    left: 3vw;
    cursor: pointer;
}

#sletbillede {
    background-image: url(grafik/sletbillede.svg);
    background-size: 100%;
    position: absolute;
    height: 30vw;
    width: 23vw;
    background-repeat: no-repeat;
    top: 65vw;
    left: 28vw;
    cursor: pointer;
}

#jaknap {
    background-image: url(grafik/ja.svg);
    background-size: 100%;
    position: absolute;
    height: 28vw;
    width: 22vw;
    background-repeat: no-repeat;
    top: 60vw;
    left: 3vw;
    cursor: pointer;
}

#nejknap {
    background-image: url(grafik/nej.svg);
    background-size: 100%;
    position: absolute;
    height: 28vw;
    width: 22vw;
    background-repeat: no-repeat;
    top: 60vw;
    left: 28vw;
    cursor: pointer;
}


/*notifikationer*/

#beskedsofie {
    background-image: url(grafik/messengerbeskedsofie.svg);
    background-size: 100%;
    position: absolute;
    height: 14vw;
    width: 52.2vw;
    top: 25vw;
    left: 2.6vw;
    cursor: pointer;
}

#beskedhanna {
    background-image: url(grafik/beskedhanna.svg);
    background-size: 100%;
    position: absolute;
    height: 11vw;
    width: 52.2vw;
    top: 15vw;
    left: 2vw;
    cursor: pointer;
}



#beskedjoachim {
    background-image: url(grafik/beskedjoachim.svg);
    background-size: 100%;
    position: absolute;
    height: 11vw;
    width: 52.2vw;
    top: 15vw;
    left: 2vw;
    cursor: not-allowed;
}




/*Levelcomplete og gameover*/

#levelcomplete {
    background-image: url(grafik/Levelcomplete.svg);
    background-size: 100%;
    position: absolute;
    top: 14vw;
    top: 14vw;
    width: 52vw;
    height: 100vw;
    left: 2vw;
    background-repeat: no-repeat;
}

#gameover {
    background-image: url(grafik/GameOver.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 14vw;
    width: 52vw;
    height: 100vw;
    left: 2vw;
}

#linktilprivatsnak1 {
    background-image: url(grafik/Privatsnak.svg);
    background-size: 100%;
    position: absolute;
    top: 48vw;
    left: 8.3vw;
    width: 35vw;
    height: 28vw;
    background-repeat: no-repeat
}

#linktilprivatsnak2 {
    background-image: url(grafik/Privatsnak.svg);
    background-size: 100%;
    position: absolute;
    top: 48vw;
    left: 8.3vw;
    width: 35vw;
    height: 28vw;
    background-repeat: no-repeat
}


#tryagain1 {
    background-image: url(grafik/replay_ny.svg);
    background-size: 100%;
    position: absolute;
    top: 77.6vw;
    left: 22.9vw;
    width: 6.7vw;
    height: 6.5vw;
    cursor: pointer;
}

#tryagain2 {
    background-image: url(grafik/replay_ny.svg);
    background-size: 100%;
    position: absolute;
    top: 77.6vw;
    left: 22.9vw;
    width: 6.7vw;
    height: 6.5vw;
    cursor: pointer;
}


/* effekter */
.hide {
    visibility: hidden;
}


.show {
    visibility: visible;
}

.show2 {
    animation-delay: 3s;
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}


.blur2 {
    filter: blur(2px) brightness(90%);
}

.blur3 {
    filter: blur(1.5px);
}


.fade_in {
    animation-name: fadein_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



.fade_out2 {
    animation-name: fadeout_kf2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf2 {
    0% {
        opacity: 1;
        filter: brightness(100%);
    }

    10% {
        opacity: 0.9;
        filter: brightness(200%);
    }

    20% {
        opacity: 0.8;
        filter: brightness(300%);
    }

    30% {
        opacity: 0.7;
        filter: brightness(400%);
    }

    40% {
        opacity: 0.6;
        filter: brightness(500%);
    }

    50% {
        opacity: 0.5;
        filter: brightness(600%);
    }

    60% {
        opacity: 0.4;
        filter: brightness(700%);
    }

    70% {
        opacity: 0.3;
        filter: brightness(730%);
    }

    80% {
        opacity: 0.2;
        filter: brightness(750%);
    }

    90% {
        opacity: 0.1;
        filter: brightness(800%);
    }

    100% {
        opacity: 0;
        filter: brightness(800%);

    }
}


.pulse2 {
    animation-name: pulse2_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse2_kf {
    0% {
        transform: scale(0.95);

    }

    100% {
        transform: scale(1);
    }
}


.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.90);

    }

    100% {
        transform: scale(1);
        filter: brightness(140%)
    }
}

dissappear {
    animation-name: dissappear_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}


.on_off {
    animation-name: on_off_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(5);
}

@keyframes on_off_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -500% 0;
    }
}


:root {
    font-size: 2vw;
}


#tid {
    width: 1vw;
    height: 1vw;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 98vw;
    color: white;
    font-size: 5rem;
    font-family: sans-serif;
    display: flex;
    left: 45vw;
    pointer-events: none;

}

#besked_sprite {
    background-image: url(grafik/toggle_writing.svg);
    background-size: 600% 100%;
    position: absolute;
    top: 35vw;
    left: 33vw;
    width: 20vw;
    height: 22vw;
    animation-name: besked_sprite_kf;
    animation-duration: 2s;
    animation-timing-function: steps(6);
    animation-iteration-count: infinite;
    transform: rotateY(180deg);

}

#besked_sprite1 {
    background-image: url(grafik/toggle_writing.svg);
    background-size: 600% 100%;
    position: absolute;
    top: 35vw;
    left: 33vw;
    width: 20vw;
    height: 22vw;
    animation-name: besked_sprite_kf;
    animation-duration: 2s;
    animation-timing-function: steps(6);
    animation-iteration-count: infinite;
    transform: rotateY(180deg);

}

@keyframes besked_sprite_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -600% 0%;
    }
}


#lockscreen0 {
    background-image: url(grafik/mobillås0.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#lockscreen1 {
    background-image: url(grafik/mobillås1.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#lockscreen2 {
    background-image: url(grafik/lock2.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#lockscreen3 {
    background-image: url(grafik/mobillås3.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#lockscreen4 {
    background-image: url(grafik/mobillås4.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
}

#knap1 {
    background-image: url(grafik/1.svg);
    background-size: 100%;
    position: absolute;
    top: 28.7vw;
    width: 12vw;
    height: 13vw;
    left: 4vw;
    background-repeat: no-repeat;
    cursor: pointer;
}


#knap2 {
    background-image: url(grafik/2.svg);
    background-size: 100%;
    position: absolute;
    top: 28.7vw;
    width: 12vw;
    height: 13vw;
    left: 22vw;
    background-repeat: no-repeat;
    cursor: pointer;
}


#knap3 {
    background-image: url(grafik/3.svg);
    background-size: 100%;
    position: absolute;
    top: 28.7vw;
    width: 12vw;
    height: 13vw;
    left: 40vw;
    background-repeat: no-repeat;
    cursor: pointer;
}

#knap4 {
    background-image: url(grafik/4.svg);
    background-size: 100%;
    position: absolute;
    top: 43.4vw;
    width: 12vw;
    height: 13vw;
    left: 4vw;
    background-repeat: no-repeat;
    cursor: pointer;
}


#easter {
    background-image: url(grafik/easteregg.svg);
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 56.25vw;
    height: 100vw;
    left: 0vw;
}

#knaptilbage {
    background-size: 100%;
    position: absolute;
    height: 6vw;
    width: 4vw;
    left: 50vw;
    top: 11vw;
    cursor: pointer;
}
